<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eshtery" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eshtery" >
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Eshtery.NoActionBar" >
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Eshtery.NoActionBar" >
        </activity>
        <activity
            android:name=".MainScreen"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/Theme.Eshtery.NoActionBar" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>